

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C&A Controle de estoque</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/produtos.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/login.js" asp-append-version="true" defer ></script>
    <script src="~/js/getUser.js" asp-append-version="true" defer ></script>
</head>
<body>
    <header>
        <div>
            <a class="logo" href="~/Produtos">
                <img src="~/img/logo.png" alt="logo" />
                <h2>Controle de estoque</h2>
            </a>
            <div class="user">
                <img src="~/img/icon.svg" alt="icon" />
                <div>
                    <span>Bem-vinda(o)</span>
                    <p id="userName"></p>
                </div>
            <a href="~/" id="logoff"><img src="~/img/log-out.svg" alt="logout" class="logout-icon" /></a>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - C&A Controle de estoque - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
