@page
@model Web_Project_CeA.Pages.Produtos.DeleteModel
@{
}

<main>
        <section class="deletar">
            <h1>Deseja realmente excluir o produto?</h1>
            <div class="container-card">
            <div>
                <div class="col20">
                    <img src="@Html.DisplayFor(model => model.Produto.imagem)" class="card-image" alt="foto do produto"/>
                </div>
                <div class="col80">
                    <p>@Html.DisplayFor(model => model.Produto.nome)</p>
                </div>
            </div>
            <form method="post">
                <div class="delete-buttons">
                    <input type="button" class="btn secondary" value="cancelar" onClick="history.go(-1)">
                    <input type="Submit" value="excluir" class="btn danger">
                </div>
            </form>
            
        </div>

         
        </section>
    </main>


