@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<main>
    <div class="container-error">
        <h2>OPS!</h2>
        <h2>Algo de errado aconteceu. Tente novamente em instantes</h2>
        <div class="btn-return">
            <input type="button" value="voltar" class="btn secondary" onClick="history.go(-1)">
        </div>
    </div>
</main>


@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>

    
}


