@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

    <section class="error">
        <h1 class="text-danger">OPS!</h1>
        <h2 class="text-danger">Algo de errado aconteceu. Tente novamente em instantes</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
        <input type="button" value="voltar" class="btn secondary" onClick="history.go(-1)">
    
    </section>