@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2> Política de Privacidade</h2>
    <p>Na NewsDev C&A, privacidade e segurança são prioridades e nos comprometemos com a transparência do tratamento de dados pessoais dos nossos usuários/clientes. Por isso, esta presente Política de Privacidade estabelece como é feita a coleta, uso e transferência de informações de clientes ou outras pessoas que acessam ou usam nosso site.

    Ao utilizar nossos serviços, você entende que coletaremos e usaremos suas informações pessoais nas formas descritas nesta Política, sob as normas de Proteção de Dados (LGPD, Lei Federal 13.709/2018), das disposições consumeristas da Lei Federal 8078/1990 e as demais normas do ordenamento jurídico brasileiro aplicáveis.

    Dessa forma, obriga-se ao disposto na presente Política de Privacidade.

    1. Quais dados coletamos sobre você e para qual finalidade?
    Nosso site não utiliza a coleta de informações pessoais para seus processos, os dados inseridos neste são para viabilizar a prestação de serviços e aprimorar a experiência de uso.

